{% extends "base.html" %}
{% load wagtailimages_tags %}

{% block content %}

  <div class="container row fade-in">
    <div class="column">
      <p>
      Hi, I’m Anj. Thanks for being here.
      <br>
      <br>
      This space is a collection of what I build, explore, and care about. I document my perspectives through words and visuals, capturing both the obvious and the easily overlooked.
      <br>
      <br>
      Alongside this, I share what I learn in tech, shaped by my experience as a part-time educator and through conversations and interviews over the years. Teaching has influenced how I think, explain, and connect ideas.
      <br>
      <br>
      Think of this as a small atelier. A personal studio where curiosity, technology, and everyday observations come together.
      </p>
      <br>
      <p>Contact me:</p>
      <p>angelicalapastora@gmail.com</p>
      <p>Manila, Philippines</p>
    </div>

    <div class="column about-images-grid-container">
      <img src="/media/images/DSCF1199.max-150x150.jpg" class=""/>
      <img src="/media/images/DSCF2022.max-165x165.jpg" class=""/>
      <img src="/media/images/DSCF2608_Mb7WUba.original.jpg" class=""/>
    </div>
  </div>

</body>
</html>

{% endblock %}