<header class="site-header">
  <div class="container">

    <!-- Logo / Name -->
    <div class="logo">
      <a href="/">anj lapastora</a>
    </div>

    <button class="burger" id="burger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    </button>

    <!-- Navigation -->
    <nav class="nav">
      <a href="/atelier">atelier</a>
      <a href="/musings">musings</a>
      <a href="/about" class="nav-cta">say hi</a>
    </nav>

  </div>
</header>

<nav class="nav mobile-nav" id="mobileNav">
  <div class="menu-content">
    <a href="/atelier">atelier</a>
    <a href="/musings">musings</a>
    <a href="/about" class="nav-cta">say hi</a>
  </div>
</nav>
