<header class="site-header">
  <div class="container">

    <!-- Logo / Name -->
    <div class="logo">
      <a href="/">Anj Lapastora</a>
    </div>
  
    <button class="burger" id="burger">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    </button>

    <!-- Navigation -->
    <nav class="nav">
      <a href="/about">About</a>
      <a href="/tech">Tech</a>
      <a href="/atelier">Atelier</a>
      <a href="/musings">Musings</a>
    </nav>

    <!-- Social -->
    <div class="socials" style="margin-right: 15px;">
      <a href="https://instagram.com"><i class="fa fa-instagram"></i></a>
      <a href="mailto:angelicalapastora@gmail.com"><i class="fa fa-envelope-o"></i></a>
    </div>

  </div>
</header>

<nav class="nav mobile-nav" id="mobileNav">
  <div class = "menu-content">
    <a href="/about">About</a>
    <a href="/tech">Tech</a>
    <a href="/atelier">Atelier</a>    
    <a href="/musings">Musings</a>
  </div>
</nav>
<!-- <script>
  // const burger = document.getElementById('burger');
  // const nav = document.getElementById('mobileNav');
  // const menu = nav.querySelector('.menu-content');

  // function toggleMenu() {
  //   nav.classList.toggle('active');
  //   document.body.classList.toggle('no-scroll');
  // }

  // function closeMenu() {
  //   nav.classList.remove('active');
  //   document.body.classList.remove('no-scroll');
  // }

  // burger.addEventListener('click', toggleMenu);

  // // click outside (background)
  // nav.addEventListener('click', (e) => {
  //   if (!menu.contains(e.target)) {
  //     closeMenu();
  //   }
  // });

  // // close when clicking links
  // menu.querySelectorAll('a').forEach(link => {
  //   link.addEventListener('click', closeMenu);
  // });
</script> -->